section.garden#garden
  .garden__body
    .garden__container.container
      h2.garden__title.title.title_black Дитячий садок Smartik
      .garden__row.row
        .garden__column.column.column-lg-1-3
          .garden__content.content-garden
            .content-garden__title <b>Smartik</b> - це садок, в якому дитинство вашого маляти буде веселим та щасливим.
            .content-garden__age-groups.age-groups-content-garden
              .age-groups-content-garden__title Садок <b>Smartik</b> ділиться на вікові групи:
              ul.age-groups-content-garden__list
                li.age-groups-content-garden__item
                  +icon('arrow-list')
                  span Smartik Little Angels
                  span(style='color: #65C338')  (від 1 року)
                li.age-groups-content-garden__item
                  +icon('arrow-list')
                  span Smartik Day care
                  span(style='color: #65C338') (від 2-3 роки)
                li.age-groups-content-garden__item
                  +icon('arrow-list')
                  span Smartik Preschool
                  span(style='color: #65C338')  (від 4-5років)
                li.age-groups-content-garden__item
                  +icon('arrow-list')
                  span Smartik Preschool
                  span(style='color: #65C338')  (5+)


            .content-garden__classes.classes-content-garden
              .classes-content-garden__title Окремо доступні додаткові заняття:
              .classes-content-garden__text логопед, психолог, хореографія, музика, англійська, польська, підготовка до школи, творчість.

            .content-garden__note Також Ви маєте можливість записатися на пробне
            span.content-garden__link БЕЗШКОШТОВНЕ ЗАНЯТТЯ
        .garden__column.column.column-lg-2-3
          .garden__slider.slider-garden.popup-gallery
            .slider-garden__item
              a(href="img/childrens-garden/01.jpg")
                +image('childrens-garden/01.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/02.jpg")
                +image('childrens-garden/02.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/03.jpg")
                +image('childrens-garden/03.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/04.jpg")
                +image('childrens-garden/04.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/05.jpg")
                +image('childrens-garden/05.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/06.jpg")
                +image('childrens-garden/06.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/07.jpg")
                +image('childrens-garden/07.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/08.jpg")
                +image('childrens-garden/08.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/09.jpg")
                +image('childrens-garden/09.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/10.jpg")
                +image('childrens-garden/10.jpg')
            .slider-garden__item
              a(href="img/childrens-garden/11.jpg")
                +image('childrens-garden/11.jpg')
      .garden__btn
        a(href='#garden-form').btn.btn_green.popup-with-move-anim
          span ЗАПИСАТИСЯ
        a(href='#small-dialog').btn.btn_orange.popup-with-move-anim
          span Детальніше


// Modal windows

#garden-form.modal-info.modal-info_form.zoom-anim-dialog.mfp-hide
  .modal-info__body
    form(action='' id='gardenForm' method='get').form.modal-info__form
      .modal-info__row
        .modal-info__column
          .modal-info__title КОНТАКТНА ОСОБА
          .form__input
            label(for='parent-name') Ім’я
            input(type='text' id='parent-name' name='parentName' value='' placeholder="Ваше ім'я")
          .form__input
            label(for='parent-surname') Прізвище
            input(type='text' id='parent-surname' name='parentSurname' value='' placeholder="Ваше прізвище")
          .form__input
            label(for='phone') Номер телефону
            input(type='tel' id='phone' name='phone' value='' placeholder="+380...")
        .modal-info__column
          .modal-info__title ДИТИНА
          .form__input
            label(for='child-name') Ім’я дитини
            input(type='text' id='child-name' name='childName' value='' placeholder="Ім’я дитини")
          .form__input
            label(for='child-surname') Прізвище дитини
            input(type='text' id='child-surname' name='childSurname' value='' placeholder="Прізвище дитини")
          .form__input
            label(for='age') Вік дитини
            input(type='tel' id='age' name='age' value='' placeholder="Вік дитини")

      .modal-info__params
        .modal-info__title Куди записатися?
        p
          input(type='radio' checked id='full-day' name='what-day' value='full-day')
          label(for='full-day') В садок повного дня ( з 8.00 до 18.00)
        p
          input(type='radio' id='short-day' name='what-day' value='short-day')
          label(for='short-day') В садок неповного дня ( з 8.00 до 14.00)
        p
          input(type='radio' id='addServices' name='what-day' value='to-add-services')
          label(for='addServices') На додаткові послуги (оберіть нижче)

        .modal-info__title Додаткові послуги
        p
          input(type='checkbox' id='school-prepare' name='school-prepare' value=true)
          label(for='school-prepare') Підготовка до школи
          svg(class="check-icon" viewBox="0 0 17 14")
            path(d="M2 6.78261L5.35484 12L15 2")

        p
          input(type='checkbox' id='choreography' name='choreography' value=true)
          label(for='choreography') Хореографія
          svg(class="check-icon" viewBox="0 0 17 14")
            path(d="M2 6.78261L5.35484 12L15 2")
        p
          input(type='checkbox' id='english' name='english' value=true)
          label(for='english') Англійська мова
          svg(class="check-icon" viewBox="0 0 17 14")
            path(d="M2 6.78261L5.35484 12L15 2")
        p
          input(type='checkbox' id='polish' name='polish' value=true)
          label(for='polish') Польська мова
          svg(class="check-icon" viewBox="0 0 17 14")
            path(d="M2 6.78261L5.35484 12L15 2")
        p
          input(type='checkbox' id='music' name='music' value=true)
          label(for='music') Музика
          svg(class="check-icon" viewBox="0 0 17 14")
            path(d="M2 6.78261L5.35484 12L15 2")
        p
          input(type='checkbox' id='creativity' name='creativity' value=true)
          label(for='creativity') Країна творчості
          svg(class="check-icon" viewBox="0 0 17 14")
            path(d="M2 6.78261L5.35484 12L15 2")
        p
          input(type='checkbox' id='freeLesson' name='freeLesson' value=true)
          label(for='freeLesson') Безкоштовне заняття
          svg(class="check-icon" viewBox="0 0 17 14")
            path(d="M2 6.78261L5.35484 12L15 2")
      .modal-info__btn
        button(type='reset').btn.btn_green.my-custom-close
          span Скасувати
        button(type='submit').btn.btn_green
          span Надіслати


#small-dialog.modal-info.zoom-anim-dialog.mfp-hide
  .modal-info__body
    p Smartik – це садок, в якому дитинство вашого маляти буде веселим та щасливим.
    p Відвідування дитячого садочку дасть швидкий старт загального розвитку, підготує до вступу у школу, допоможе з вихованням необхідних якостей і навичок, дасть нові знання та досвід.
    h2.modal-info__title ПРИВАТНИЙ ДИТЯЧИЙ САДОК
    p Шановні батьки, освітній центр Smartik пропонує унікальну програму у садочку повного та неповного дня. Спеціально для ваших дітей ми розробили унікальну комплексну програму з розвитку та виховання дітей. Запрошуємо діток від 1 до 6 років поринути у цікавий світ розвитку, який сповнений щирою та доброзичливою атмосферою.
    p Ми створили найкомфортніші умови перебування малят з 8:00 до 18:00. Протягом усього тижня, відповідно до розкладу, проходять заняття різної спрямованості: ранній розвиток, підготовка до школи, світ навколо нас, музичні та спортивні заняття, творчість, хореографія, англійська та польська мови. А підтримувати та стимулювати сили вашої дитини буде збалансоване здорове харчування, тиха година та активності на свіжому повітрі.
    h2.modal-info__title ЧОМУ МИ?
    p
      ul.modal-info__list
        li кожна дитина це особистість! Ми знаємо як правильно допомогти у її формуванні та пристосувати до соціуму.
        li ми дбаємо про безпеку дітей, тому наш майданчик – закритого типу.
        li ми знаємо наскільки важлива англійська мова у сучасному світі, саме тому заняття іноземних мов проходять у легкій, ігровій формі, щоб діткам було цікавіше і легше засвоювати інформацію.
        li ми маємо державне ліцензування в якості дошкільного навчального закладу.
        li у нас висококваліфіковані вихователі з вищою профільною освітою.
        li ми перетворюємо повсякденні дії у справжню пригоду, тому що дитинство має бути веселим та щасливим.
    h2.modal-info__title МЕТА:
    p
      ul.modal-info__list
        li креативно розвивати дітей з наймолодшого віку.
        li розвивати дитину із збереженням її фізичного та емоційного здоров’я.
        li знайомити дошкільнят із соціумом та його правилами.
        li активно психологічно та інтелектуально готувати дітей до першого класу.
        li сформувати прогресивний світогляд дітей на майбутнє.
    h2.modal-info__title ХАРЧУВАННЯ
    p До щоденного столу наших діток готуємо збалансоване меню. Ми готові прислухатись до побажань батьків стосовно індивідуальних особливостей харчування кожної дитини. Також є можливість безлактозного харчування та вегетаріанського меню. Ціна регулюється!
    h2.modal-info__title РЕЖИМ РОБОТИ:
    p З понеділка по п’ятницю з 8:00 до 18:00 садочок, додаткові гуртки – згідно розкладу у ранковий та вечірній час.
    h2.modal-info__title АДРЕСА:
    p м. Івано - Франківськ, вул. Шевченка 34б.
    h2.modal-info__title ТЕЛЕФОНИ:
    p
      a(href='tel:+38956130086').modal-info__phone (095) 613-00-86
      a(href='tel:+380991933065').modal-info__phone (099) 193-30-65
    h2.modal-info__title ПОСЛУГИ:
    p
      ul.modal-info__list
        li садок повного дня( з 8.00 до 18.00)
        li садок  неповного дня ( з 8.00 до 14.00)
        li підготовка до школи
        li хореографія
        li англійська мова
        li польська мова
        li музика
        li країна творчості




